@font-face {
    font-family: Nike_Bold;
    src: url(../Font/nike-bold.ttf);
}
@font-face {
    font-family: Nike;
    src: url(../Font/nike-normal.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: Nike;
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #211f1f;
}
header a{
    text-decoration: none;
}
#header-h1{
    display: flex;
}
#header-h1 a{
    display: flex;
    margin-left: 2rem;
}
h1{
    color: white;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 3rem;
    font-family: Nike_Bold;
}
#nike-svg{
    width: 5rem;
    filter: invert(1);
    -webkit-user-drag: none;
    user-select: none;
}
#header-menu{
    display: flex;
    align-items: center;
}
#header-menu li{
    list-style: none;
}
#header-ul{
    display: flex;
    align-items: center;
    gap: 3.5rem;
    padding-right: 3rem;
    height: 100%;
}
.header-link{
    font-size: 1.5rem;
    color: white;
    background: none;
    border: 0;
    cursor: pointer;
}
#sneakers-a{
    padding: 0 1rem;
}
#clothing-dropdown, #sneakers-dropdown{
    height: 100%;
    position: relative;
}
#clothing-button, #sneakers-button{
    display: flex;
    align-items: center;
    height: 100%;
}
.dropdown-list{
    display: none;
    position: absolute; 
    flex-direction: column;
    gap: 0.1rem;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
}
.dropdown-list a{
    color: black;
    font-size: 1.2rem;
    padding: 0.5rem;
}
#sneakers-dropdown-list{
    width: max-content;
    right: 10%;
}
.show-clothing #clothing-dropdown-list{
    display: flex;
}
.show-sneakers #sneakers-dropdown-list{
    display: flex;
}
#main-img{
    width: 100%;
    height: 75vh;
    background-image: url(../img/swoosh.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
#main-img h2{
    color: white;
    font-size: 3rem;
    margin: 3rem 5rem;
}
#main-img a{
    text-decoration: none;
    color: white;
}
#main-img a:active{
    color: antiquewhite;
}
#main-img span{
    font-size: 5rem;
    overflow-y: hidden;
    margin: 2.5rem 5rem;
}
#af1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#af1 h2{
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    width: 50%;
    border-bottom: 2px solid black;
}
#af1-shoes{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
@media(min-width: 701px) {
    #clothing-button:hover + #clothing-dropdown-list,
    #sneakers-button:hover + #sneakers-dropdown-list,
    #clothing-dropdown-list:hover,
    #sneakers-dropdown-list:hover{
        display: flex;
    }
    #clth-button::after, #snkrs-button::after{
        position:absolute;
        top:75%;
        left:0%;
        width:0;
        height:2px;
        background:#FFF;
        display:block;
        content:'';
        transition: 0.5s ease-in-out;
    }
    #clth-button:hover::after, #snkrs-button:hover::after{
        width:100%;
    }
    .underline-clothing #clth-button::after{
        width: var(--clth);
    }
    .underline-sneakers #snkrs-button::after{
        width: var(--snkrs);
    }
}
@media (max-width: 700px) {
    header{
        flex-direction: column;
        align-items: center;
    }
    #header-menu{
        width: 100%;
    }
    #header-ul{
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding-right: 0;
        gap: 0;
    }
    #header-ul li{
        width: 100%;
    }
    #header-ul li div{
        text-align: center;
    }
    .header-link{
        margin: 0.5rem 1rem;
    }
    .dropdown-list{
        position: static;
        width: 100%;
    }
    #sneakers-dropdown-list{
        width: 100%;
    }
}