@font-face {
    font-family: Nike_Bold;
    src: url(/Font/nike-bold.ttf);
}
@font-face {
    font-family: Nike;
    src: url(/Font/nike-normal.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: Nike;
}
body{
    width: 100vw;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #211f1f;
}
header a{
    text-decoration: none;
}
#header-h1{
    display: flex;
}
h1{
    color: white;
    padding: 1rem 1rem 1rem 3rem;
    font-size: 3rem;
    font-family: Nike_Bold;
}
#nike-svg{
    width: 5rem;
    filter: invert(1);
}
#header-menu{
    display: flex;
    align-items: center;
}
#header-menu li{
    list-style: none;
}
#header-ul{
    display: flex;
    align-items: center;
    gap: 3.5rem;
    padding-right: 3rem;
}
.header-link{
    font-size: 1.5rem;
    color: white;
}
#sneakers-a{
    padding: 0 1rem;
}
#clothing-dropdown{
    position: relative;
}
#sneakers-dropdown{
    position: relative;
}
.dropdown-list{
    display: none;
    position: absolute; 
    flex-direction: column;
    gap: 0.1rem;
    width: 120%;
    margin-top: 2rem;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
}
.dropdown-list a{
    color: black;
    font-size: 1.2rem;
    padding: 0.5rem;
}
#clothing-dropdown:hover #clothing-dropdown-list{
    display: flex;
}
#sneakers-dropdown:hover #sneakers-dropdown-list{
    display: flex;
}