@font-face {
    font-family: Nike_Bold;
    src: url(/Font/nike-bold.ttf);
}
@font-face {
    font-family: Nike;
    src: url(/Font/nike-normal.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: Nike;
}
body{
    width: 100vw;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #211f1f;
}
header a{
    text-decoration: none;
}
#header-h1{
    display: flex;
}
h1{
    color: white;
    padding: 1rem 1rem 1rem 3rem;
    font-size: 3rem;
    font-family: Nike_Bold;
}
#nike-svg{
    width: 5rem;
    filter: invert(1);
}
#header-menu{
    display: flex;
    align-items: center;
}
#header-menu li{
    list-style: none;
}
#header-ul{
    display: flex;
    align-items: center;
    gap: 3.5rem;
    padding-right: 3rem;
    height: 100%;
}
.header-link{
    font-size: 1.5rem;
    color: white;
    background: none;
    border: 0;
    cursor: pointer;
}
#sneakers-a{
    padding: 0 1rem;
}
#clothing-dropdown, #sneakers-dropdown{
    height: 100%;
    position: relative;
}
#clothing-button, #sneakers-button{
    display: flex;
    align-items: center;
    height: 100%;
}
.dropdown-list{
    display: none;
    position: absolute; 
    flex-direction: column;
    gap: 0.1rem;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
}
.dropdown-list a{
    color: black;
    font-size: 1.2rem;
    padding: 0.5rem;
}
#sneakers-dropdown-list{
    width: max-content;
}
#clothing-button:hover + #clothing-dropdown-list, #clothing-dropdown-list:hover{
    display: flex;
}
#sneakers-button:hover + #sneakers-dropdown-list, #sneakers-dropdown-list:hover{
    display: flex;
}
.show-clothing #clothing-dropdown-list{
    display: flex;
}
.show-sneakers #sneakers-dropdown-list{
    display: flex;
}
@media (max-width: 700px) {
    header{
        flex-direction: column;
        align-items: center;
    }
    #header-menu{
        width: 100%;
    }
    #header-ul{
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding-right: 0;
        gap: 0;
    }
    #header-ul li{
        width: 100%;
    }
    #header-ul li div{
        text-align: center;
    }
    .dropdown-list{
        position: static;
        width: 100%;
    }
    #sneakers-dropdown-list{
        width: 100%;
    }
}